body {
    background-color: beige;
}

#themeToggle {
    margin-right: 1rem;
    width: 2em;
    height: 2em; 
    justify-content: center;
    background-color: transparent; 
    border: none;                 
    cursor: pointer;            
    margin-left: auto;
}

body.light-mode {
    background-color: beige; 
}

body.light-mode .calculator {
    border-color: #ddd;        
    background-color: #EEEEEE;    
    color: #333;
}

body.light-mode #result {
    background-color: #EEEEEE;
    color: #0c0c0c;
}

body.light-mode .nums {
    background: #fffafa;
}

body.light-mode button {
    background-color: #fff;
    color: #0c0c0c;
    border-color: #ddd;
}

body.light-mode button:hover {
    background-color: #eee;
}

.calculator {
    width: 22em;
    max-width: 40em;
    margin: 20px auto;
    border: 5px solid #23272a;
    border-radius: 60px;
    margin-top: 10svh;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    background-color: #0c0c0c;
}

.nums {
    padding-top: 20px;
    width: 100%; 
    background-color: #161515;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.bot {
    margin-bottom: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
}

.status-bar {
    margin-left: 1rem;
    padding: 2rem;
    display: flex;
    gap: 10px;
    justify-content: space-between; 
    align-items: center;
    padding: 1rem;  
}

.status-bar img:last-child { 
    margin-left: auto; 
    margin-right: 20px;
}

#result {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    width: 90%;
    height: 10svh;
    padding-top: 3svh;
    text-align: right;
    white-space: nowrap; 
    overflow: hidden;
    border: none;
    align-items: flex-end;
    background-color: #0c0c0c;
    color: #fffafa;
    display: block;
}
  
button {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    width: 70px;
    height: 70px;
    font-size: 18px;
    background-color: #0c0c0c;
    border: 1px solid #0c0c0c;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    color: white;
}

button:hover {
    background-color: #ddd;
}

button img {
    display: block;
    margin: 0 auto;
  
}

.operator {
    background-color: #f0f0f0;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
  
#deleteButton {
    border: none;
    width: 80%;
    background-color: #FFCCCB; 
}

#clearall {
    border: none;
    width: 80%;
    background-color: #EE4B2B;
}

.home-bar {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    height: 20px;
}

@media (max-width: 768px) {
    .calculator {
        max-width: 95%; 
    }
    button {
      height: 70px;
    }
}

@media (max-width: 480px) {
    .calculator {
        margin-top: 3em;
        max-width: 95%; 
    }
    button {
          height: 70px; 
    }
    #result {
          font-size: 30px; 
    }
}
